<IfModule mod_rewrite.c>
  RewriteEngine On
  # If your application is in a subdirectory, set the RewriteBase to that subdirectory
  RewriteBase /
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L,QSA]
</IfModule>