<IfModule mod_rewrite.c>
  RewriteEngine On
  # If your application is in a subdirectory, set the RewriteBase to that subdirectory
  RewriteBase /

  # Block access to sensitive files
  <FilesMatch "\.(env|sql|log|ini|json|lock|bak)$">
    Require all denied
  </FilesMatch>

  # Block hidden files (e.g. .env, .git)
  <FilesMatch "^\.">
    Require all denied
  </FilesMatch>

  # Disable directory listing
  Options -Indexes

  # Prevent access to internal directories
  RewriteRule ^(controllers|middleware|models|routes|views)/ - [F,L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L,QSA]
</IfModule>